
{% extends 'base.html' %}
{% load static %}
{% block context %}
		<div class="content-wrapper pb-5 mt-5">
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center mb-5">Which you are looking for</h2>
				</div>
			</div><br>

			<div class="row">
				<div class="col-md-4 mb-5">
				    <div class="card border-0">
					    <div class="look-img p-0" style="background-image:url('static/Images/Apartments.jpg')"></div>

					    <div class="card-body shadow">
					        <div class="mt-1 px-2">
					        	<h4>APPARTMENTS</h4>
					        </div>

					        <div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
				                <div>
				                	<span class="small">9/1 Tallabagh, Dhaka</span>
				                </div>

					        </div>

					        <a href="" class="text-dark px-2 cat_link">See more <i class="bi bi-arrow-right"></i></a>
				        </div>
				    </div>
				</div>
				<div class="col-md-4 mb-5">
				    <div class="card border-0">
					    <div class="look-img p-0" style="background-image:url('static/Images/Vehicals.jpg')"></div>

							<div class="card-body shadow">
								<div class="mt-1 px-2">
									<h4>VEHICALS</h4>
								</div>

								<div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
									<div>
										<span class="small">9/1 Tallabagh, Dhaka</span>
									</div>
								</div>

								<a href="{% url 'appertment' %}" class="text-dark px-2" style="text-decoration: none;">See more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<div class="card border-0">
							<div class="look-img p-0" style="background-image:url('static/Images/Cloth.jpg')"></div>

							<div class="card-body shadow">
								<div class="mt-1 px-2">
									<h4>CLOTHES</h4>
								</div>

								<div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
									<div>
										<span class="small">9/1 Tallabagh, Dhaka</span>
									</div>
								</div>

								<a href="#" class="text-dark px-2" style="text-decoration: none;">See more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<div class="card border-0">
							<div class="look-img p-0" style="background-image:url('static/Images/Electronics.jpg')"></div>

							<div class="card-body shadow">
								<div class="mt-1 px-2">
									<h4>ELECTRONICS</h4>
								</div>

								<div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
									<div>
										<span class="small">9/1 Tallabagh, Dhaka</span>
									</div>
								</div>

								<a href="#" class="text-dark px-2" style="text-decoration: none;">See more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div><div class="col-md-4 mb-5">
						<div class="card border-0">
							<div class="look-img p-0" style="background-image:url('static/Images/Musical_instrument.jpg')"></div>

							<div class="card-body shadow">
								<div class="mt-1 px-2">
									<h4>MUSICAL INSTRUMENTS</h4>
								</div>

								<div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
									<div>
										<span class="small">9/1 Tallabagh, Dhaka</span>
									</div>
								</div>

								<a href="#" class="text-dark px-2" style="text-decoration: none;">See more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 mb-5">
						<div class="card border-0">
							<div class="look-img p-0" style="background-image:url('Images/Furniture.jpg')"></div>

							<div class="card-body shadow">
								<div class="mt-1 px-2">
									<h4>FURNITURES</h4>
								</div>

								<div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
									<div>
										<span class="small">9/1 Tallabagh, Dhaka</span>
									</div>
								</div>

								<a href="#" class="text-dark px-2" style="text-decoration: none;">See more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>

					<div class="col-md-4 mb-5">
						<div class="card border-0">
							<div class="look-img p-0" style="background-image:url('Images/Weapons.jpg')"></div>

							<div class="card-body shadow">
								<div class="mt-1 px-2">
									<h4>WEAPONS</h4>
								</div>

								<div class="d-flex justify-content-between align-items-center mb-4 px-2 mt-2">
									<div>
										<span class="small">9/1 Tallabagh, Dhaka</span>
									</div>
								</div>

								<a href="#" class="text-dark px-2" style="text-decoration: none;">See more <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

{% endblock %}