<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sing In</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <div class="wrapper"
    <form action="">
        <h1>Login</h1>
        <div class="input-box"></div>
        <input type="text" placeholder="Username" required>
    </div>

    <div class="input-box">
        <input type="password" placeholder="Password" required>
    </div>

    <div class="remember-forget"></div>
    <lable><input type="checkbox">Remember me</lable>

    <a href="#">Forgot password?</a>
    <button type="submit" class="btn">Login</button>

    </form>

</body>
</html>
